aside {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #a3b4c2;
  padding-left: 50px;
  padding-bottom: 30px;
}
form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
  input {
    width: 100%;
    padding-bottom: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a3b4c2;
    color: #fff;
    outline: none;
    &::placeholder {
      color: #a3b4c2;
    }
  }
  button {
    background-color: #aacde1;
    border: none;
    padding: 25px;
    img {
      width: 25px;
    }
  }
}

.cities {
  display: flex;
  flex-direction: column;
  margin: 50px 60px 0 0;
  gap: 35px;
  border-bottom: 1px solid #a3b4c2;
  padding-bottom: 50px;
  a {
    color: #a3b4c2;
    text-decoration: none;
    font-size: 15px;
  }
}

.weatherDetails {
  margin: 50px 60px 0 0;
  border-bottom: 1px solid #a3b4c2;
  padding-bottom: 40px;
  h4 {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
  }
  .details {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    gap: 35px;
    > div {
      display: flex;
      justify-content: space-between;
      span {
        color: white;
      }
    }
  }
}
